@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --background: #ffffff;
    --foreground: #0a0a0a;
    /* Magazine Typography Variables */
    --font-sans: var(--font-switzer), sans-serif;
    --font-display: var(--font-switzer), sans-serif;
    --font-logo: var(--font-clash-display), sans-serif;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #050505;
        /* Deep Black */
        --foreground: #ededed;
    }
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-sans);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-display);
    font-weight: 600;
    letter-spacing: -0.02em;
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }

    .scrollbar-hide {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scrollbar-hide::-webkit-scrollbar {
        display: none;
    }

    .delay-75 {
        animation-delay: 75ms;
    }

    .delay-150 {
        animation-delay: 150ms;
    }

    .mask-linear-fade {
        mask-image: linear-gradient(to right, transparent 0, black 24px, black calc(100% - 24px), transparent 100%);
        -webkit-mask-image: linear-gradient(to right, transparent 0, black 24px, black calc(100% - 24px), transparent 100%);
    }
}